.app-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.app-container div:first-child {
    padding: 25px;
}

.app-container div:first-child h1 {
    text-decoration: underline;
}

.app-container__button {
    padding: 20px;
    margin: 10px;
    width: 250px;
    cursor: pointer;
    border: 1px solid #151719;
}

.app-container__button:hover {
    background-color: #151719;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.input-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-box-container label {
    padding: 20px;
    text-align: center;
    display: flex;
}

.input-box-container label input {
    margin-left: 20px;
}

.second-view {
    display: none;
}

.third-view {
    display: none;
}

.fourth-view {
    display: none;
}

.fifth-view {
    display: none;
}